.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #b3b1b1;
}

section.modal-content {
  width: 400px;
  height: 200px;
  position: relative;
  background-color: white;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -200px;
  padding: 10px;
  animation: topDown 4s;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@keyframes topDown {  
  from {top: -100px; opacity: 0}  
  to {top: 0; opacity: 1} /*top:0 对应他正常显示的位置*/
}

.modal:target {
  display: block;
}
