.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  animation: topDown 0.5;
}

@keyframes topDown {
  from {top: -300px; opcity: 0}
  to {top: 0; opcity: 1}
}

.modal:target {
  display: block;
}
